<main>
        <!---->
    <div class="bodyContainer">
        <div class="displayBlockLeft">
            <h2 class="leftTitle">Recent Posts</h2>
            <div class="leftList">
                <div class="posts_list">
                    {{#each posts as |post|}}
                        <a href= "/posts/{{id}}" class="homePostAnchor"><h3 class="homePosts">{{post.text}}</h3></a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="displayBlockRight">
                <h2 class="rightTitle">Topic Categories</h2>
            <div class="rightList">
                <div class="category_list">
                    {{#each categories as |category|}}
                        <a href= "/categories/{{id}}" class="homeCategoryAnchor"><h3 class="homeCategories">{{category.title}}</h3></a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>