<main>
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Recent</h2>
                <div class="leftList">
                    <ul>
                        <!--Needs code to fill post elements-->
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                        <li>Placeholder3</li>
                    </ul>
                </div>
            </div>
            <div class="displayBlockRight">
                    <h2 class="rightTitle">Categories</h2>
                <div class="rightList">
                    <div class="category_list">
                        {{#each categories as |category|}}
                            <a href= "/categories/{{id}}"><h3>{{category.title}}</h3></a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    
    </main>