<main>
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Recent</h2>
                <div class="leftList">
                    <ul>
                        <!--Needs code to fill elements-->
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                        <li>Placeholder3</li>
                    </ul>
                </div>
            </div>
            <div class="displayBlockRight">
                    <h2 class="rightTitle">Categories</h2>
                <div class="rightList">
                    <ul>
                        <li>Example1</li>
                        <li>Example2</li>
                        <li>Example3</li>
                    </ul>
                </div>
            </div>
        </div>
    
    </main>