<main>
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Recent</h2>
                <div class="leftList">
                    <ul>
                        <!--Needs code to fill post elements-->
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                        <li>Placeholder3</li>
                    </ul>
                </div>
            </div>
            <div class="displayBlockRight">
                    <h2 class="rightTitle">Categories</h2>
                <div class="rightList">
                    <ul>
                        <a href=""><li>Game Discussion</li></a> 
                        <a href=""><li>Guide and Resources</li></a> 
                        <a href=""><li>Questions</li></a>
                        <a href=""><li>Modding</li></a>
                        <a href=""><li>Bugs</li></a>
                    </ul>
                </div>
            </div>
        </div>
    
    </main>