<main class="bodyLogin">
    <div class="displayBlockProfile">
        <div class="topicProfileTitle">
            <h2 class="rightTitle">Log In!</h2>
        </div>
        <div class="userPassBox" id="topBox">
            <form action="" id="login" class="formFormat">
                <label for="loginName" class="userPassLabel">Username:</label><br>
                <input type="text" id="loginName" name="loginName" class="loginInputBox"><br>
                <label for="loginPassword" class="userPassLabel">Password:</label><br>
                <input type="password" id="loginPassword" name="loginPassword" class="loginInputBox"><br>
                <input type="submit" value="Submit" id="submitBtn" class="userPassSubmit">
            </form>
        </div>
    </div>
    <br>
    <div class="displayBlockProfile">
        <div class="topicProfileTitle">
            <h2 class="rightTitle">Sign Up!</h2>
        </div>
        <div class="userPassBox">
            <form action="" id="signup" class="formFormat">
                <label for="signupName" class="userPassLabel">Username:</label><br>
                <input type="text" id="signupName" name="signupName" class="loginInputBox"><br>
                <label for="signupPassword" class="userPassLabel">Password:</label><br>
                <input type="password" id="signupPassword" name="signupPassword" class="loginInputBox"><br>
                <input type="submit" value="Submit" id="submitBtn" class="userPassSubmit">
            </form>
        </div>
    </div>
</main>

<script src="/js/login.js"></script>