<main>
    <div class="bodyContainer">
        <div class="displayBlockProfile">
            <div class="topicProfileTitle">
                <h2 class="rightTitle">Log In!</h2>
            </div>
            <div class="userPassBox" id="topBox">
                <form action="" id="login" class="formFormat">
                    <label for="loginName" class="userPassLabel">Username:</label><br>
                    <input type="text" id="loginName" name="loginName"><br>
                    <label for="loginPassword" class="userPassLabel">Password:</label><br>
                    <input type="password" id="loginPassword" name="loginPassword"><br>
                    <input type="submit" value="Submit" id="submitBtn" class="userPassSubmit">
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="displayBlockProfile">
        <div class="topicProfileTitle">
            <h2 class="rightTitle">Sign Up!</h2>
        </div>
        <div class="userPassBox">
            <form action="" id="signup" class="formFormat">
                <label for="signupName" class="userPassLabel">Username:</label><br>
                <input type="text" id="signupName" name="signupName"><br>
                <label for="signupPassword" class="userPassLabel">Password:</label><br>
                <input type="password" id="signupPassword" name="signupPassword"><br>
                <input type="submit" value="Submit" id="submitBtn" class="userPassSubmit">
            </form>
        </div>
    </div>
</main>

<script src="/js/login.js"></script>