<!--{{{body}}}, replaces main-->
    <main>
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Topics</h2>
                <div class="leftList">
                    <ul>
                        <!--Needs code to fill elements-->
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                        <li>Placeholder3</li>
                    </ul>
                </div>
            </div>
            <div class="displayBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightTopicPostTitle">Topic Name</h2>
                    <button type="button" id="createPost">Create</button>
                </div>
                <div class="rightTopicList">
                    <ul>
                        <li>
                            <div class="topicList">
                                <p class="username">User</p>
                                <p class="postText">Post Title</p>
                            </div>
                        </li>
                        <li>
                            <div class="topicList">
                                <p class="username">User</p>
                                <p class="postText">Post Title</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
    </main>