 <main>
        <!--main button which should display username when on this page fails - display boxes need polish on outline and interior elements-->
        <div class="bodyContainer">
            <div class="displayProfileBlockLeft">
                <h2 class="leftProfileTitle">User Profile</h2>
                <div class="profileItems"> 
                    <div id="userElements">
                        <div id="picDiv">
                            <img src="{{imageUrl}}" alt="This will be the user's image" id="userPicture">
                        </div>
                        <p id="userProfileText"></p>
                    </div>
                    <div id="buttonBlock">
                        <div id="userNameView">{{userName}} </div>
                        <div id="userBioView">{{userBio}}This is a temporary bio!</div>
                        {{#if selfProfile}}
                        <button id="editUserBtn">EDIT</button>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="displayProfileBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightProfileTitle">Recent posts</h2>
                </div>
                <div class="rightProfileList">
                    {{#each userposts as |userposts|}}
                    <ul>
                        <li>
                            <p>{{userposts.text}}</p>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
        </div>
    
    </main>

    <script src="/js/profile_viewer.js"></script>

