 <main>
        <!---->
        <div class="bodyContainer">
            <div class="displayProfileBlockLeft">
                <h2 class="leftProfileTitle">User Profile</h2>
                <div class="profileItems"> 
                    <div id="userElements">
                        <div>
                            <img src="{{imageUrl}}" alt="This will be the user's image" id="userPicture">
                        </div>
                        <p id="userProfileText"></p>
                    </div>
                    <div id="buttonBlock">
                        <div id="userNameView">{{userName}} </div>
                        <div id="userBioView">{{userBio}}</div>
                        {{#if selfProfile}}
                        <button id="editUserBtn">EDIT</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="displayProfileBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightProfileTitle">Recent posts</h2>
                </div>
                <div class="rightProfileList">
                    <ul>
                        <li>
                            <p>Sample1</p>
                        </li>
                        <li>
                            <p>Sample2</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
    </main>

    <script src="/js/profile_viewer.js"></script>

