<main>
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Categories</h2>
                <div class="leftList">
                    <ul>
                        <!--Needs code to fill elements-->
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                        <li>Placeholder3</li>
                    </ul>
                </div>
            </div>
            <div class="displayBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightTitle">Log In</h2>
                </div>
                <div class="rightList">
                    <form id="profileSubmission" action="">
                        <p>Placeholder for cloudinary widget</p>
                        <label for="bioInput">Please submit your biography!</label><br>
                        <input type="text" id="bioInput" name="loginPassword"><br>
                        <input type="submit" value="Submit" id="submitBioBtn">
                    </form>
                </div>
            </div>
        </div>
    
    </main>