    <main>
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Categories</h2>
                <div class="leftList">
                    <ul>
                        <!--Needs code to fill elements-->
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                        <li>Placeholder3</li>
                    </ul>
                </div>
            </div>
            <div class="displayBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightTitle">Create a post!</h2>
                </div>
                <div class="rightList">
                    <form id="postSubmission" action="">
                        <label for="postText">Please add text to your post below!</label><br>
                        <input type="text" id="postText" name="postText"><br>
                        <input type="submit" value="Submit" id="submitpostBtn">
                    </form>
                </div>
            </div>
        </div>
    
    </main>

<script src="/js/post.js"></script>