<main>
    <h2>Welcome, {{user.username}}</h2>

    {{!-- {{#if loggedIn}}
    {{/if}} --}}
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightTitle">Update your Profile!</h2>
                </div>
                <div class="rightList">
                    <form id="profileSubmission" action="updateProfile">
                        <!---<p>Placeholder for cloudinary widget</p> -->
                        <label for="userNameInput">Please choose your name!</label><br>
                        <input type="text" id="userNameInput" name="userNameInput"><br>
                        <label for="bioInput">Please submit your biography!</label><br>
                        <input type="text" id="bioInput" name="bioInput"><br>
                        <input type="submit" value="Submit" id="submitBioBtn">
                    </form>
                </div>
            </div>

            <div class="displayBlockLeft">
                <h2 class="leftTitle">Posts</h2>
                <div class="leftList">
                    {{#each post as |post|}}
                    <p>{{post.dataValues.text}} </p>
                    {{/each}}
                </div>
            </div>
        </div>
    
    </main>
    <script src="/js/profile.js"></script>