<main>
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Categories</h2>
                <div class="leftList">
                    <ul>
                        <!--Needs code to fill elements-->
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                        <li>Placeholder3</li>
                    </ul>
                </div>
            </div>
            <div class="displayBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightTopicPostTitle">{{category_title}}</h2>
                    <button type="button" id="createTopic">Create</button>
                </div>
                {{#each topics as |topic|}}
                <div class="rightTopicList">
                    <div class="topicList">
                        {{!-- <p class="username">{{user.username}}</p> --}}
                        <a href=""><h4 class="topicText">{{topic.dataValues.title}}</h4></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    
    </main>