:root {
    --bg-color:#30a6f5;
    --titles-color:#F3CF28;
    --body-color:#F3EA28;

    --sky-blue:#59C9F1;
    --dark-purple:#151152;
    --red-color:#B52121;
    --brown-color:#6B3710;
    --beige-color:#DDA059;
    --yellow-color:#FFD921;
}

body {
    background: var(--bg-color);
}
main {
    margin-bottom: 80px
}
/*Main styling - on every page-----------------------------------------------------------------*/
/*Header styling*/
header {
    display: flex;
    background-color: var(--dark-purple);
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-color: var(--yellow-color);
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-around;
}

/*link styling, main title*/

#titleText {
    justify-content: center;
    align-self: center;
    text-align: center;
    display: flex;
    font-family: 'VT323', sans-serif;
    font-size: 80pt;
    text-decoration: none;
    width: 60%;
}


/* visited and active link */
#titleText:visited, #titleText:active {
    color: var(--yellow-color);
}

#titleText:hover {
    color: var(--beige-color);
}

/*div containing header buttons*/
#buttons {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 40%;
}

.btnAnchor {
    display: flex;
    width: 38%;
    height: 55%;
    text-decoration: none;
}

.btnAnchor:visited, .btnAnchor:active {
    color: var(--dark-purple);
}

.btnAnchor:hover {
    color: var(--red-color);
}

.mainHeaderBtn {
    background-color: var(--beige-color);
    width: 100%;
    height: 100%;
    display: flex;
    margin: 20px;
    margin:auto;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'VT323', sans-serif;
}
#signupBtn {
    white-space: nowrap;
}

footer {
    background-color: var(--dark-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--yellow-color);
    text-align: center;
    font-family: 'VT323', sans-serif;
}

footer p {
    margin: auto;
    font-size: 40px;
}

ul {
    list-style-type: none;
}

/*Categories+Home Page*/
.bodyContainer {
    display: flex;
    font-family: 'VT323', sans-serif;
}

.displayBlockLeft {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.leftTitle {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--dark-purple);
    display: flex;
    background-color: var(--beige-color);
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 20%;
    font-size: 50px;
    margin-bottom: 16px;
    padding: 15px 0;
    text-align: center;
}

.leftList {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--dark-purple);
    display: flex;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 20%;
}

.homePostAnchor{
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    text-align: center;
    color: var(--dark-purple);
    text-decoration: none;
}

.homePosts {
    justify-content: space-around;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 80%;
    background-color: var(--beige-color);
    border-style: solid;
    border-color: var(--dark-purple);
    border-radius: 5px;
    font-size: 35px;
}

.displayBlockRight {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.rightTitle {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--dark-purple);
    display: flex;
    background-color: var(--beige-color);
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 80%;
    margin-bottom: 16px;
    font-size: 60pt;
    text-align: center;
}

.rightList {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    width: 80%;
}

.category_list {
    text-align: center;
    width: 100%;
}

.homeCategoryAnchor {
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
    text-align: center;
    color: var(--dark-purple);
    text-decoration: none;
}

.homeCategories {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;
    width: 80%;
    background-color: var(--beige-color);
    border-style: solid;
    border-color: var(--dark-purple);
    border-radius: 5px;
    font-size: 50px;
}

/*Topics Page---------------------------------------------------------------------------*/

.topicPostTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'VT323', sans-serif;
}

.rightTopicPostTitle {
    display: flex;
    background-color: var(--titles-color);
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
    font-size: 40px;
}

#createTopic {
    font-size: 25px;
    width: 20%;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    margin-bottom: 10px;
}

.rightTopicList {
    display: flex;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 300px;
}

.rightTopicList ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.rightTopicList li {
    width: 100%;
    font-size: 40px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topicList {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.username {
    width: 30%;
    background-color: var(--titles-color);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.topicText {
    width: 70%;
    background-color: var(--body-color);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-right: 5%;
}


/*Posts Page*/

#createPost {
    font-size: 25px;
    width: 20%;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    margin-bottom: 10px;
}

.postText {
    width: 70%;
    background-color: var(--body-color);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-right: 5%;
}

/*Profile Page---------------------------------------------------------------------------------------------------*/

.displayProfileBlockLeft {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    font-family: 'VT323', sans-serif;
}


.displayProfileBlockRight {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    font-family: 'VT323', sans-serif;
}

.leftProfileTitle {
    display: flex;
    background-color: var(--titles-color);
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 15%;
    font-size: 40px;
    margin-bottom: 10px;
}

.profileItems {
    display: flex;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 15%;
    min-height: 300px;
}

.rightProfileTitle {
    display: flex;
    background-color: var(--titles-color);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'VT323', sans-serif;
}

.rightProfileList {
    display: flex;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 300px;
}

.profileItems{
    display: flex;
    flex-direction: column;
}

#userElements {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#userPicture {
    width:40%;
    height: 100%;
}

#userProfileText{
    width: 50%;
    text-align: center;
}

#buttonBlock {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 15%;
}

#newImageBtn {

}

#newBioBtn {

}
/*Login Page---------------------------------------------------------------------------------------------------------------*/

/*titles too large, submission boxes too small, doesn't respond to screen size*/
.bodyLogin {
    display: flex;
    flex-direction: row;
}

.displayBlockProfile {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    font-family: 'VT323', sans-serif;
}

.topicProfileTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 10px;
}

.topicProfileTitle h2 {
    font-size: 40pt;
}

.userPassBox {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--dark-purple);
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    width: 70%;
}

.formFormat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 30px 0;
}

.userPassLabel {
    margin-top: 20px;
    padding: 0 20px 0;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--dark-purple);
    color: var(--dark-purple);
    font-size: 30pt;
    background-color: var(--beige-color);
    color: var(--dark-purple);
}

.userPassSubmit {
    margin: 20px 0;
    background-color: var(--dark-purple);
    color: var(--yellow-color);
    font-size: 30px;
    text-align: center;
    width: 85%;
    border-radius: 5px;
}

.loginInputBox {
    width: 90%;
    border-style: solid;
    border-color: var(--dark-purple);
    border-radius: 5px;
}


/*Signup Page-----------------------------------------------------------------------------------------------------*/

#submitBtn {
    font-size: 35px;
}

/*add/edit profile page----------------------------------------------------------------------------------------------------*/
#profileSubmission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#bioInput {
    width: 50%;
    height:40%;
}

#profileAvatar {
    
}

/*create topic*/

#topicSubmission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#topicTitle {
    width: 30%;
    height:40%;
}

#topicText {
    width: 50%;
    height:40%;
}

#submitTopicBtn {
    
}

/*create post*/

#postSubmission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#postText {
    width: 50%;
    height:40%;
}

#submitPostBtn {
    
}

@media screen and (max-width: 1054px) {
    #titleText {
        font-size: 40pt;
    }
    header {
        flex-direction: column;
    }
    .mainHeaderBtn {
        font-size: 30pt;
        min-width: min-content;
    }
    .bodyContainer {
        flex-direction: column;
    }
    .displayBlockLeft {
        width: 90%;
        margin-bottom: 15px;
        align-self: center;
    }
    .displayBlockRight {
        width: 100%;
        align-self: center;
    }
    .leftTitle {
        margin-left:auto;
        margin-right:auto;
    }
    .leftList {
        margin-left:auto;
        margin-right:auto;
    }
    #buttons {
        width: 100%;
        margin-bottom: 10px;
    }
}
/*below 1054 px - main and home handlebars criteria
    - header - display buttons below the page title
    - display recent posts above topic categories
    - adjust widths of posts and categories to fill most of the 
    width of the page
*/

/*
@media screen and (max-width: 1054px) {
    
    header {
        flex-direction: column;
    }

    /*
    .movie {
        flex-direction: column;
    }

    .meal {
        flex-direction: column;
    }

    .search {
        margin-bottom: 10px;
        min-height: 120px;
    }

    .search, .result, .movieResult {
        width: 100%;
    }

    .generateBtn {
        width: 90%;
    }
} 
*/
